{%layout "layout.liquid"%}
{%block content%}

<div>

<form action="/user/signup" method="post">
  <fieldset>
    <legend>Sign Up</legend>
      <label>
        Username: <input type="text" name="username" required/>
      </label>
      <label>
        Password:<input type="text" name="password" required/>
      </label>
  </fieldset>
  <input type="submit" value="Create Account">
</form>






</div>
{%endblock%}